@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply dark:text-pallete-400 text-pallete2-400 pointer-events-none;
}

* {
    @apply transition-colors duration-300;
}

/* Skills ticker */
.spinner {
    animation: ticker 25s linear infinite;
}

.spinner:hover {
    animation-play-state: paused;
}

@keyframes ticker {
    0% {
        transform: translateX(calc(-100% / 2));
    }
    100% {
        transform: translateX(0);
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
    background: #2d2d2d;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 3px;
}

/* Leaflet map height fix */
.leaflet-container {
    height: 100% !important;
    width: 100% !important;
}
